<!-- <img src="/assets/title5.gif" alt="" width="119" height="22" /><br /> 
        <form action="#">
          <p class="style1">From <input type="text" /> To <input type="text" /></p>
          <p><span class="pad">Depart</span> Return</p>
          <p class="pad2"><input type="radio" class="radio" checked> <select class="select1"><option>March</option></select> <select class="select2"><option>01</option></select> <select class="select1"><option>March</option></select> <select class="select2"><option>14</option></select></p>
          <p><input type="radio" class="radio"> My dates are flexible</p>
          <p class="pad3">
            <span><strong>Adults</strong><br /><select class="select3"><option>1</option></select></span>
            <span><strong>Children</strong><br /><select class="select3"><option>0</option></select></span>
            <span><strong>Seniors</strong><br /><select class="select3"><option>0</option></select></span>            
            <span><strong>Connections</strong><br /><select class="select3"><option>1</option></select></span>
            <span><a href="#" class="button"><img src="/assets/button.gif" alt="" width="95" height="19" /></a></span>
          </p>
          <p class="text2">More Flight Search Options: <a href="#">One-Way</a>, <a href="#">Multi-City</a>, <a href="#">more...</a></p>
        </form> -->

<div id="contact_us">
  <div class="contact-body">
    <div class="contact-content">
      <p><span>OFFICE NUMBER:</span>+86-10-57453929</p>
      <p><span>MOB. NUMBER:</span>+86-18810162769</p>
      <p><span>WORKING HOURS:</span>24 HOURS</p>
      <p><span>E-MAIL:</span>chinaroyaltrip@yeah.net</p>
      <div class="talk_online">
        <a style="padding-right:20px;" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1047101150&amp;site=qq&amp;menu=yes" target="_blank"><img style="vertical-align:bottom; border:0px" src="http://wpa.qq.com/pa?p=1:1047101150:5" alt="点击这里给我发消息"></a>
      </div>
      <div class="talk_online" style="margin-top:10px;">
        <a href="skype:shixiaoyumartin?call"><img src="http://mystatus.skype.com/smallicon/shixiaoyumartin" /></a>
      </div>
    </div>
    <h2>Contact Us</h2>
  </div>
</div>