    <a href="index.html" class="logo"><img src="/assets/logo.jpg" alt="" width="274" height="90" /></a>                                                                               
    <%#= render :partial => "layouts/shared/language" %>
    <ul id="menu">
      <%= render :partial => "layouts/shared/menu" %>
    </ul>