<div>
      <span>Languages: </span>
      <a href="#"><%= image_tag "/assets/l1.gif", alt: "", width:"19", height:"11" %></a>
      <a href="#"><img src="/assets/l2.gif" alt="" width="19" height="11" /></a>
      <a href="#"><img src="/assets/l3.gif" alt="" width="19" height="11" class="active" /></a>
      <a href="#"><img src="/assets/l4.gif" alt="" width="19" height="11" /></a>
      <a href="#"><img src="/assets/l5.gif" alt="" width="19" height="11" /></a>
    </div>