<h1>Editing admin_article</h1>
<br />

<%= render 'form' %>

<div class="row t_margin_15">
  <div class="pull-right r_margin_30">
      <div class="pull-left">
        <%= link_to 'Back', admin_articles_path %>
      </div>
  </div>
</div>