        <h1 class="block_title">Featured Tours</h1>
        <% Category.find_by_name("Featured Tours").articles.each do |article| %>
          <% next if article.tour_pictures.first.nil? %>
          <div class="photo">
            <%= image_tag article.tour_pictures.first.image(:normal), :width=>"194", :height=>"111", class: "radius-boder" %>
            <%= link_to article.title.gsub(/_/, " ").titleize, {:controller=>"index", :action=>article.title.gsub(/ /, "_").downcase} %>
          </div>
        <% end %>