*{
margin:0px;
padding:0px;
}
img{border:0px;}
html{
width:100%;
height:100%;
background-color:#6B7887
}
body{
width:984px;
height:100%;
margin:0 auto;
padding:0 1px;
background-color:#FDFCF7;
position:relative;
}
html > body{
min-height:100%;
height:auto;
}
#header{
  width:964px;
  font-family:Tahoma;
  font-size:11px;
  color:#6A6A6A;
  border-bottom: 8px solid #254A73;
  padding: 30px 10px;
}
#nav {
  float: left;
  width: 200px;
  border-right: 8px solid #254A73;
}
#menu ul {
  padding: 20px 0px 20px 30px;
  list-style-type: none;
}
#right {
  display: inline-block;
  padding: 20px;
  width: 700px;
}
#right-content {
  padding-top: 70px;
}
#right-title h2 {
  float: left;
}
#right-title a {
  float: right;
  padding-top: 3px;
}
#right-content table {
  #border-top: 8px solid #254A73;
}
#menu li ul {
  padding: 0px 0px 0px 15px;
  margin: 0px;
  list-style-type: initial;
}
.form_input {
  width: 200px;
}
.control-group {
  padding: 5px;
}
.control-label {
  text-align: left;
  width: 130px;
}
.controls { width: 700px; }
.controls input { width: 700px; }
.clear {
  clear: both;
}

/******** General Setting *********/
.r_margin_15{margin-right:15px;}
.r_margin_30{margin-right:30px;}
.pull-right{float: right;}
.pull-left{float: left;}
.row{padding-left: 0;margin-left: 0;margin-top: 4px;margin-bottom: 10px;}
.display-flex { display: flex; }

/******* table ***********/
table.altrowstable {
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#333333;
  border-width: 1px;
  border-color: #a9c6c9;
  border-collapse: collapse;
}
table.altrowstable th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #a9c6c9;
}
table.altrowstable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #a9c6c9;
}
.oddrowcolor{
  background-color:#d4e3e5;
}
.evenrowcolor{
  background-color:#c3dde0;
}